<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629216705629-bl8rlj20t21pi6pumepfhmjaamg7l9mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629216705629-bl8rlj20t21pi6pumepfhmjaamg7l9mi</string>
	<key>API_KEY</key>
	<string>AIzaSyDtSVIZnhMmvOwxY6ANXW3tofpevlHmsLc</string>
	<key>GCM_SENDER_ID</key>
	<string>629216705629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dareios.gf4sApp</string>
	<key>PROJECT_ID</key>
	<string>gf4s-98f90</string>
	<key>STORAGE_BUCKET</key>
	<string>gf4s-98f90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629216705629:ios:7263881f96d1add01ea1b4</string>
	<key>DATABASE_URL</key>
	<string>https://gf4s-98f90.firebaseio.com</string>
</dict>
</plist>